<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
<div align="center">

    <form action="#" th:action="@{form}" method="post" th:object="${form}">
        <label>Full name:</label>
        <input type="text" th:field="*{sen_name}"/><br/>

        <label>Remitter document </label> <input type="text" th:field="*{sen_document}" name="name"></br>
        Account number <input type="text" th:field="*{sen_account}" name="name"></br>
        Beneficiary person <input type="text" th:field="*{rec_name}" name="name"></br>
        Beneficiary document<input type="text" th:field="*{rec_document}" name="Doc"></br>
        <label>Beneficiary country</label><select th:field="*{rec_country}">
        <option th:each="i : ${countries}" th:value="${i}" th:text="${i}"></option>
    </select> </br>
        Beneficiary account <input type="text" th:field="*{rec_account}" name="Account"></br>
        Beneficiary IBAN <input type="text" th:field="*{rec_IBAN}" name="IBAN"></br>
        Beneficiary Bank name <input type="text" th:field="*{rec_bank}" name="IBAN"></br>

        Trade Date <input type="date" th:field="*{trade_date}" name="Date"></br>
        Trade Sum <input type="number" th:field="*{trade_sum}" name="Sum"></br>
        Trade Details <textarea rows="25" cols="25" th:field="*{trade_details}" name="Details"/></br>


        <button type="submit">create PDF</button>
    </form>
</div>

</body>
</html>